<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout/backend/default">
<head>
<meta charset="UTF-8">
<title>Danh sách lịch hẹn</title>
</head>
<body>
<div layout:fragment="content">
<div class="content-header sty-one">
<h1> Danh sách lịch hẹn  </h1>
  <ol class="breadcrumb mb-4">
    <li><a href="#">ADMIN</a></li>
    <li><i class="fa fa-angle-right"></i> <a href="#">Danh sách lịch hẹn</a></li>
  </ol>
</div>
<div class="content">
   <div class="card">
   <div class="card-body">
	<div class="col-md-12">
      <div class="table-responsive mt-4">
        <table class="table">
          <thead class="bg-success text-white">
            <tr>
            	<th scope="col">STT</th>
	             <th scope="col">Date</th>
	             <th scope="col">Time</th>
	             <th scope="col">Name</th>
	             <th scope="col">Phone</th>
	             <th scope="col">Combo</th>
	             <th scope="col">Message</th>
	             <th scope="col">Stylist</th>
	             <th scope="col">#</th>
            </tr>
          </thead>
          <tbody>
	          <tr th:if="${apps == null || apps.empty}">
	            	<td colspan="7" class="text-center">No Available</td>
	          </tr>
            <tr th:each="item: ${apps}">
              <td th:text="${item.id}"></td>
              <td th:text="${item.date}">A101</td>
              <td th:text="${item.time}">Tphcm</td>
              <td th:text="${item.name}">Mark</td>
              <td th:text="${item.phone}">090908561</td>
              <td   th:each="cb: ${combos}" 
      				th:if="${cb.id} == ${item.comboId}"
              		th:text="${cb.name}">1</td>	 
              <td th:text="${item.message}">(None)</td>
              <td th:text="${item.nameStylist}">No Valid</td>
              <td >
                   <a th:if="${item.nameStylist}==null" th:href="@{/admin/appointment/update-stylist(id=${item.id})}" class="btn btn-sm btn-info">
                       <i class="fa fa-pencil-square-o"></i>
                   </a>
               </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
	</div>
	</div>
	</div>
<!--<input>  data-toggle="modal" data-target="#ModalLoginForm"-->
<!-- Modal HTML Markup -->
<div id="ModalLoginForm" class="modal fade">
   <div class="modal-dialog" role="document">
       <div class="modal-content">
           <div class="modal-header">
               <h1 class="modal-title">Thanh toán</h1>
           </div>
           <div class="modal-body">
               <form th:action="@{/admin/payment}" method="post" th:object="${bill}" th:each="item: ${app}">
    	<input class="form-control" type="hidden" name="id" th:value="${item.id}">
        <div class="col-md-6 offset-md-3">
          <fieldset class="form-group">
            <label>Tên khách hàng :    </label>
            <input class="form-control" type="text" th:value="${item.name}">
          </fieldset>
        </div>
        <div class="col-md-6 offset-md-3">
          <fieldset class="form-group">
            <label>Số điện thoại : </label>
           <input class="form-control" type="text" th:value="${item.phone}">
          </fieldset>
        </div>
        <div class="col-md-6 offset-md-3">
          <fieldset class="form-group">
            <label>Giá tiền : </label>
           <input class="form-control" type="text" id="price" th:each="cb : ${combos}" 
           											th:if ="${item.comboId} == ${cb.id}"
           											th:value="${cb.price}"> VNĐ
          </fieldset>
        </div>
        <div class="col-md-6 offset-md-3 mt-3">
        <label>Combo</label>
		<select class="form-control form-control-line" disabled>
			<option th:each="cb : ${combos}" th:value="${cb.id}"  th:text="${cb.name}"></option>
		</select>
            
        </div>
        <div class="col-md-6 offset-md-3 mt-3">
        <label>Stylist</label>
		<select class="form-control form-control-line" disabled>
			<option th:each="st: ${stylists}" th:value="${st.id}" th:text="${st.name}"></option>
		</select>
		</div>
		<div class="col-md-6 offset-md-3 mt-3 row">
		<p class="text-black font-italic">Discount: </p>
            <div class="radio ml-5">
              <label>
                <input class='radio' type="radio" name="optionsRadios" id="optionsRadios1" data-value="5"> 5% </label>
            </div>
            <div class="radio ml-3">
              <label>
                <input class='radio' type="radio" name="optionsRadios" id="optionsRadios2" data-value="10"> 10%</label>
            </div>
            <div class="radio ml-3">
              <label>
                <input class='radio' type="radio" name="optionsRadios" id="optionsRadios2" data-value="15"> 15%</label>
            </div>
        </div>
		<div class="col-md-6 offset-md-3">
          <fieldset class="form-group">
            <label>Tổng cộng</label>
           <input class="form-control" id="total" type="text" th:field="*{total}">
          </fieldset>
        </div>
        <div class="col-md-6 offset-md-3 text-center mt-4">
        	 <button type="submit" class="btn btn-success">Thêm</button>
        	 <a th:href="@{/admin/user}" class="btn btn-primary">Quay lại</a>
        </div>
       </form>
           </div>
       </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>
<script th:inline="javascript" layout:fragment="jscript">
/*<![CDATA[*/
var empty = /*[[${error}]]*/ 'default';
var success = /*[[${success}]]*/ 'default';
if(empty){
	swal("LỐI", empty, "error");
}else if(success){
	swal("Thành công", success, "success");
}
/*]]>*/
$(document).ready(function(){
    $('[data-confirm]').on('click', function(e){
        e.preventDefault(); //cancel default action

        //Recuperate href value
        var href = $(this).attr('href');
        var message = $(this).data('confirm');

        //pop up
        swal({
            title: "Are you sure ??",
            text: message, 
            icon: "warning",
            buttons: true,
            dangerMode: true,
            timer:3000,
        })
        .then((willDelete) => {
          if (willDelete) {
            swal("Success! Xóa thành công!", {
              icon: "success",
              timer:4000
            });
            window.location.href = href;
          }
        });
    });
});
</script>
</body>
</html>