<script xmlns:th="http://www.thymeleaf.org" th:src="@{/backend/dist/js/jquery.min.js}"></script>  
<script xmlns:th="http://www.thymeleaf.org" th:src="@{/backend/dist/bootstrap/js/bootstrap.min.js}"></script> 

<!-- template --> 
<script xmlns:th="http://www.thymeleaf.org" th:src="@{/backend/dist/js/bizadmin.js}"></script> 

<!-- Jquery Sparklines --> 
<script xmlns:th="http://www.thymeleaf.org" th:src="@{/backend/dist/plugins/jquery-sparklines/jquery.sparkline.min.js}"></script> 
<script xmlns:th="http://www.thymeleaf.org" th:src="@{/backend/dist/plugins/jquery-sparklines/sparkline-int.js}"></script> 

<!-- Chartjs JavaScript --> 
<script xmlns:th="http://www.thymeleaf.org" th:src="@{/backend/dist/plugins/chartjs/chart.min.js}"></script> 
<script xmlns:th="http://www.thymeleaf.org" th:src="@{/backend/dist/plugins/chartjs/chart-int.js}"></script> 

<!-- for demo purposes --> 
<script xmlns:th="http://www.thymeleaf.org" th:src="@{/backend/dist/js/demo.js}"></script>