<link rel="stylesheet" xmlns:th="http://www.thymeleaf.org" th:href="@{/backend/dist/bootstrap/css/bootstrap.min.css}">

<!-- Favicon -->
<link rel="icon" type="image/png" sizes="16x16" xmlns:th="http://www.thymeleaf.org" th:href="@{/backend/dist/img/favicon-16x16.png}">

<!-- Google Font -->
<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700" rel="stylesheet">

<!-- Theme style -->
<link rel="stylesheet" xmlns:th="http://www.thymeleaf.org" th:href="@{/backend/dist/css/style.css}">
<link rel="stylesheet" xmlns:th="http://www.thymeleaf.org" th:href="@{/backend/dist/css/font-awesome/css/font-awesome.min.css}">
<link rel="stylesheet" xmlns:th="http://www.thymeleaf.org" th:href="@{/backend/dist/css/et-line-font/et-line-font.css}">
<link rel="stylesheet" xmlns:th="http://www.thymeleaf.org" th:href="@{/backend/dist/css/themify-icons/themify-icons.css}">
<link rel="stylesheet" xmlns:th="http://www.thymeleaf.org" th:href="@{/backend/dist/css/simple-lineicon/simple-line-icons.css}">
<link rel="stylesheet" xmlns:th="http://www.thymeleaf.org" th:href="@{/backend/dist/css/skins/_all-skins.min.css}">

<!-- Chartist CSS -->
<link rel="stylesheet" xmlns:th="http://www.thymeleaf.org" th:href="@{/backend/dist/plugins/chartist-js/chartist.min.css}">
<link rel="stylesheet" xmlns:th="http://www.thymeleaf.org" th:href="@{/backend/dist/plugins/chartist-js/chartist-plugin-tooltip.css}">