<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout/backend/default">
<head>
<meta charset="UTF-8">
<title>Danh sách người dùng</title>
</head>
<body>
<div layout:fragment="content">
<div class="content-header sty-one">
<h1> Danh sách User  </h1>
  <ol class="breadcrumb mb-4">
    <li><a href="#">ADMIN</a></li>
    <li><i class="fa fa-angle-right"></i> <a href="#">Danh sách User</a></li>
  </ol>
</div>
<div class="content">
   <div class="card">
   <div class="card-body">
	<div class="col-md-12">
      <div class="table-responsive mt-4">
        <table class="table">
        	<a th:href="@{/admin/user/add}" class="btn btn-success text-white float-right">+ Thêm mới</a>
          <thead class="bg-info text-white">
            <tr>
            <th scope="col">Avatar</th>
              <th scope="col">Code</th>
              <th scope="col">Name</th>
              <th scope="col">Phone</th>
              <th scope="col">Email</th>
              <th scope="col">Address</th>
              <th scope="col">Role</th>
              <th scope="col">#</th>
            </tr>
          </thead>
          <tbody>
	          <tr th:if="${users == null || users.empty}">
	            	<td colspan="8" class="text-center">No Available</td>
	          </tr>
            <tr th:each="item: ${users}">
            <td><img alt="" th:src="@{${item.photosImagePath}}" style="height:70px; width:70px"></td>
              <td th:text="${item.code}">A101</td>
              <td th:text="${item.name}">Mark</td>
              <td th:text="${item.phone}">090908561</td>
              <td th:text="${item.email}">admin@gmail.com</td>
              <td th:text="${item.address}">Tphcm</td>
              <td   th:each="itemRole: ${roles}" 
      				th:if="${itemRole.id} == ${item.roleId}"
              		th:text="${itemRole.desc}">1</td>
              <td>
                   <a th:href="@{/admin/user/edit(id=${item.id})}" class="btn btn-sm btn-info">
                       <i class="fa fa-pencil-square-o"></i>
                   </a>
                   <a data-confirm='Bạn thật sự muốn xóa user này ?'
                    th:href="@{/admin/user/delete(id=${item.id})}" class="btn btn-sm btn-danger">
                       <i class="fa fa-trash-o"></i>
                   </a>
               </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
	</div>
	</div>
	</div>
</div>
<script th:inline="javascript" layout:fragment="jscript">
/*<![CDATA[*/
var success = /*[[${success}]]*/ 'default';
var error = /*[[${error}]]*/ 'default';
if(success){
	swal("Thành công!", success, "success");
}else if(error){
	swal("Thất bại!", error, "error");
}
/*]]>*/
$(document).ready(function(){
    $('[data-confirm]').on('click', function(e){
        e.preventDefault(); //cancel default action

        //Recuperate href value
        var href = $(this).attr('href');
        var message = $(this).data('confirm');

        //pop up
        swal({
            title: "Are you sure ??",
            text: message, 
            icon: "warning",
            buttons: true,
            dangerMode: true,
            timer:3000,
        })
        .then((willDelete) => {
          if (willDelete) {
            swal("Success! Xóa thành công!", {
              icon: "success",
              timer:4000
            });
            window.location.href = href;
          }
        });
    });
});
</script>
</body>
</html>