<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>403 - FORBIDEN</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid">
    <div class="col-md-6 offset-md-3 text-center">
        <div class="mt-4 mb-3">
            <h1 class="text-warning">SORRY! </h1>
        </div>
        <img th:src="@{/user-photos/error/error.gif}" alt="">
    </div>    
</div>
</body>
</html>