<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar" xmlns:th="http://www.thymeleaf.org" th:fragment="navbar">
<div class="container">
	<a class="navbar-brand" href="index.html"><span class="flaticon-scissors-in-a-hair-salon-badge"></span>Haircare</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	<span class="oi oi-menu"></span> Menu
	</button>

	<div class="collapse navbar-collapse" id="ftco-nav">
	<ul class="navbar-nav ml-auto">
		<li class="nav-item"><a th:href="@{/}" class="nav-link">Home</a></li>
		<li class="nav-item"><a th:href="@{/service}" class="nav-link">Services</a></li>
		<li class="nav-item"><a href="gallery.html" class="nav-link">Gallery</a></li>
		<li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
		<li class="nav-item"><a th:href="@{/blog}" class="nav-link">Blog</a></li>
		<li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
		<li class="nav-item"><a href="#" class="nav-link btn btn-primary btn-md" data-toggle="modal" data-target="#ModalLoginForm">LOGIN</a></li>
	</ul>
	</div>
</div>

</nav>